<div class="card large">
  <div class="card-panel blue lighten-2">
    <h5 class="center-align white-text">Your logged in...</h5>
  </div>

  <div class="card-content">
    <div class="row">
      <div class="row center-align">
        <p>logged user....</p>
      </div>
      <div class="row center-align">
        <button class="btn waves-effect pink darken-2">Start shopping</button>
      </div>
      <div class="row center-align">
        <button class="btn waves-effect pink darken-2">Resume shopping</button>
      </div>
    </div>
  </div>

</div>

