<div class="card large">
  <div class="card-panel blue lighten-2">
    <h5 class="center-align white-text">logged user...</h5>
  </div>

  <div class="card-content">
    <div class="row center-align">
      <div>
        <p>Hello {{(user$ | async).name}}</p>
      </div>
      <div class="" *ngIf="(user$ | async).cart.length === 0 && (user$ | async).role !== 'admin'">
        <div class="card-content" *ngIf="lastOrder">
          <p>Date of your last order:  {{lastOrder.orderDate | date: 'short'}}</p>
          <p>Total price:  {{lastOrder.totalPrice}} $</p>
        </div>
        <p *ngIf="!lastOrder">Let's start your first shopping.</p>
        <div class="card-content">
          <a routerLink="/products" class="btn waves-effect pink darken-2 pulse">Start shopping</a>
        </div>
      </div>
      <div class="card-content " *ngIf="(user$ | async).cart.length > 0">
        <p>You have open cart with: {{(user$ | async).cart.length}} items.</p>
        <p>Total price: {{totalPrice | number}} $.</p>

        <div class="card-content">
          <a routerLink="/products" class="btn waves-effect pink darken-2 pulse">Resume shopping</a>
        </div>
        <div class="card-content">
          <a routerLink="/order" class="btn waves-effect pink">Checkout</a>
        </div>
      </div>

      <div *ngIf="(user$ | async).role === 'admin'">
        <a routerLink="/admin" class="btn waves-effect pink darken-2">Manage products</a>
      </div>
    </div>
  </div>

</div>

