<div class="card large">
  <div class="card-panel blue lighten-2">
    <h5 class="center-align white-text">Your logged in...</h5>
  </div>

  <div class="card-content">
    <div class="row">
      <div class="row center-align">
        <p>Hello {{(user$ | async).name}}</p>
      </div>
      <div class="row center-align" *ngIf="(user$ | async).cart.length === 0 && (user$ | async).role !== 'admin'">
        <p>Your last order {{userOrders | json}}</p>
        <button class="btn waves-effect pink darken-2">Start shopping</button>
      </div>
      <div class="row center-align" *ngIf="(user$ | async).cart.length > 0">
        <p>You have open cart: {{(user$ | async).cart.length}} items.</p>
        <p>Total price: {{totalPrice}} $.</p>
        <button class="btn waves-effect pink darken-2">Resume shopping</button>
        <button class="btn waves-effect pink darken-2">Checkout</button>
      </div>
      <div class="row center-align" *ngIf="(user$ | async).role === 'admin'">
        <a routerLink="/admin" class="btn waves-effect pink darken-2">Manage products</a>
      </div>
    </div>
  </div>

</div>

