<div style="background: white">
  <div class="container" style="min-height: calc(100vh - 65px)">

    <app-product-navbar></app-product-navbar>

    <div class="products" *ngIf="(products$ | async).length || (productLoading | async); else noProducts">
      <div class="prod" *ngFor="let product of (products$ | async)">
        <!--card-->
        <div class="card">
          <div class="card-image" style="width: 250px; height: 165px; display: flex; justify-content: center">
            <img class="activator" src="{{product.picUrl}}" style="cursor: pointer" alt="{{product.name}}">
          </div>
          <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{product.name}}<i
            class="right pink-text lighten-2 material-icons">add_circle</i></span>
            <p>price: {{product.price}} $</p>
          </div>
          <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{product.name}}<i
            class="material-icons right">close</i></span>
            <p>price: {{product.price}} $</p>
            <p>
              <button class="btn-small blue modal-trigger"
                      data-target="editProductModal" (click)="editModal(product._id)">edit product
              </button>
            </p>
            <p>
              <button class="btn-small red" (click)="deleteHandler(product._id)">
                delete product
              </button>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- Edit Modal-->
<div id="editProductModal" class="modal">
  <div class="modal-content">
    <h5>Edit Product Form</h5>
    <form [formGroup]="editProductForm" (ngSubmit)="editProduct()">
      <div class="row center-align">
        <div class="input-field inline col s12">
          <span>Name</span>
          <input type="text" class="validate" formControlName="name">
        </div>
        <div class="input-field inline col s12">
          <span>Price</span>
          <input type="number" class="validate" formControlName="price" step="any">
        </div>
        <div class="input-field inline col s12">
          <span>Picture URL</span>
          <input type="text" class="validate" formControlName="picUrl">
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="modal-close waves-effect waves-green btn-small"
                [disabled]="!editProductForm.valid">Save
        </button>
        <a class="modal-close waves-effect btn-small red" style="margin-left: 1rem">Close</a>
      </div>
    </form>
  </div>
</div>

<ng-template #noProducts>
  <div class="products">
    <div class="card-panel red lighten-4">
      sorry, No items found...
    </div>
  </div>
</ng-template>
