<nav>
  <div class="nav-wrapper">
    <!--    Menu icon -->
    <ul class="left hide-on-large-only">
      <li><a href="#" data-target="dropdown" class="sidenav-trigger show-on-large"><i class="material-icons left">menu</i></a></li>
    </ul>


    <strong class="left ml-3 hide-on-med-and-down"><i class="material-icons left">call</i>+972-3-1234567</strong>
    <a href="mailto:support@foody.com" class="left ml-3 hide-on-med-and-down"><i class="material-icons left">alternate_email</i>support@foody.com</a>
      <!--  Logo  -->
    <a href="#" class="brand-logo center my-logo">Foody Store</a>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><span>Welcome {{(user$ | async).name || 'Guest'}} {{(user$ | async).lastName}}</span></li>
      <li><a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons left">shopping_cart</i>{{(user$ | async).cart.length}}</a></li>
      <li class=""><a href="#" (click)="logOut()">Log Out</a></li>
    </ul>
    <!-- Mobile Cart   -->
    <ul class="right hide-on-large-only">
      <li><a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons left">shopping_cart</i>{{(user$ | async).cart.length}}</a></li>
    </ul>
  </div>
</nav>

<!--Sidenav menu-->
<ul id="dropdown" class="sidenav" style="height: calc(100vh - 64px); margin-top: 64px">
  <li><a>Welcome {{(user$ | async).name || 'Guest'}} {{(user$ | async).lastName}}</a></li>
  <li><a><i class="material-icons left">call</i>+972-3-1234567</a></li>
  <li class="divider"></li>
  <li><a href="mailto:support@foody.com"><i class="material-icons left">alternate_email</i>support@foody.com</a></li>
  <li class="divider"></li>
  <li class=""><a href="#">About</a></li>
  <li class=""><a href="#" (click)="logOut()">Log Out</a></li>
</ul>

