li:last-child {
  margin-right: 30px;
}
.my-logo {
  font-family: 'Lobster', cursive;
}
.nav-wrapper {
  background: linear-gradient(to right, #d81b60, #ad1457, #d81b60);
}
i.left {
  margin-right: 5px !important;
}

.dropdown-content {
  min-width: 200px;
  top: -64px;
}

nav .sidenav-trigger {
  margin: 0;
}

@media screen and (max-width: 768px) {
  li {
    margin-right: 0 !important;
  }
}
