<div class="row">
  <div class="input-field col s12">
    <i class="material-icons prefix blue-text lighten-2">search</i>
    <input id="search" type="search">
    <label for="search" class="blue-text lighten-2">Search product</label>
  </div>
</div>

<nav class="blue lighten-2">
  <div class="nav-wrapper">
    <a href="#" data-target="mobile-product-category" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="left hide-on-med-and-down">
      <li class="active"><a href="">Milk & Eggs</a></li>
      <li><a href="">Vegetables & Fruits</a></li>
      <li><a href="">Meat & Fish</a></li>
      <li><a href="">Wine & Drink</a></li>
      <li><a href="">Sweets & Kandy</a></li>
      <li>
        <button class="btn-small ml-3">add product</button>
      </li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-product-category" style="height: calc(100vh - 64px); margin-top: 64px">
  <li><a href="">Milk & Eggs</a></li>
  <li><a href="">Vegetables & Fruits</a></li>
  <li><a href="">Meat & Fish</a></li>
  <li><a href="">Wine & Drink</a></li>
  <li><a href="">Sweets & Kandy</a></li>
  <li>
    <button class="btn-small ml-3">add product</button>
  </li>
</ul>


