<div class="valign-wrapper container main">
  <div class="row">
    <div class="col s12 m6 l4">

      <app-login-form *ngIf="!(user$ | async).logged"></app-login-form>
      <app-logged-content *ngIf="(user$ | async).logged"></app-logged-content>

    </div>
    <div class="col s12 m6 l4">
      <div class="card large section center-align">
        <h1>Welcome to Foody store!</h1>
        <p class="card-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur corporis dicta
          enim id, illum ipsum
          laboriosam laborum nam nemo sint sit suscipit voluptas. Neque.</p>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card large center-align">
        <div class="card-image">
          <img src="../../assets/img/store.jpg" alt="store">
          <span style="font-size: 2rem; font-weight: bold" class="card-title">Our Store...</span>
        </div>
        <div class="card-content">
          <p>Available products in our store - <strong class="pink-text lighten-2">{{totalProducts}}</strong></p>
        </div>
        <div class="card-content">
          <p>Total orders submitted in our store - <strong class="pink-text lighten-2">{{totalOrders}}</strong></p>
        </div>
        <div class="card-action pink-text text-lighten-1">
          <p>Welcome {{(user$ | async).name || 'Guest'}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
