<div class="valign-wrapper container main">
  <div class="row">
    <div class="col s12 m6 l6">
      <div class="card large section">
        <h5 class="center pink-text">Your orders</h5>
        <div style="height: 70%; overflow-y: auto" class="card-content">
          <ul>
            <li *ngFor="let order of (orders$ | async); let i = index">
              <a class="truncate" (click)="orderDetailsHandler(order._id, i)">
                <span class="black-text">{{i + 1}}.</span>
                order date: <strong class="black-text">{{order.orderDate | date}}</strong> - price: <strong
                  class="black-text">{{order.totalPrice | number}}$</strong>
              </a>
            </li>
          </ul>
        </div>

        <div class="center card-action">
          <button routerLink="/products" class="btn btn-small waves-effect pink">Back shop</button>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l6">
      <div class="card large section">
        <h5 class="center">Order details #{{index + 1}}</h5>
        <div style="height: 90%; overflow-y: auto; min-width: 350px">
          <ul>
            <li *ngFor="let details of orderDetails.items">
              <p class="truncate">
                <img [src]="details.picUrl" [alt]="details.name"
                     style="height: 25px; margin: 0 10px 0 15px; max-width: 25px">
                {{details.name}} - {{details.count}} * {{details.price}}$
              </p>
            </li>
          </ul>

          <p style="font-weight: bold" class="center">Total price: {{orderDetails.totalPrice | number}} $</p>
          <p style="font-weight: bold" class="center">Shipping date: {{orderDetails.shippingDate | date}}</p>
        </div>
      </div>
    </div>

  </div>
</div>

