<div class="card large">
  <div class="card-panel blue lighten-2">
    <h5 class="center-align white-text">Sign in</h5>
  </div>

  <div class="card-content">
    <div class="row">
      <form class="col s12" [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="row center-align">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate" formControlName="email">
            <label for="email">Email</label>
            <span class="helper-text" data-error="incorrect email" data-success=""></span>
          </div>
          <div class="input-field col s12">
            <input id="password" type="password" class="validate" formControlName="password">
            <label for="password">Password</label>
          </div>
          <div class="center-align col s12">
            <button class="btn waves-effect blue lighten-2" type="submit" [disabled]="!loginForm.valid">Sign in</button>
          </div>
        </div>
        <div class="center-align">
          <p>Not a member?
            <a href="" class="pink-text text-lighten-1">Register</a>
          </p>
        </div>
      </form>
    </div>
  </div>

</div>
